[alias]
	# pretty log
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"

	# abbreviated log
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

[user]
	signingkey = 012C8BC61DF32BBC

[commit]
	gpgsign = true

[core]
	excludesfile = ~/.gitignore_global
